@import (less) 'bootstrap.css';

@backgroundColor: #f8f8f8;
@backgroundColor2: #ffffff;
@color1: #14213d;
@color1d: #000814;
@color2: #fca311;
@color3: #3a5a40;
@color3l: #588157;

@color4: #EBEBEB;

body {
    color: @color1d;
}

.btn-new-box {
    background-color: @color3l;
    border: 1px solid @color3;
    &:hover {
        background-color: @color3l;
        border: 1px solid @color3;
    }
}

#app {
    background-color: @backgroundColor;
    padding-bottom: 40px;
    padding-top: 40px;
}

.list-title {
    color: @color1;
}

.box-form {
    background-color: @backgroundColor2;
    border: 1px solid @color4;
    border-radius: 4px;
    box-shadow: 0px 0px 8px @color4;

    .invalid-feedback {
        display: block;
        & +.form-control {
            &:extend(.form-control.is-invalid);
        }
        & +.form-select {
            &:extend(.form-select.is-invalid);
            &:extend(.was-validated .form-select:invalid:not([multiple]):not([size]));
        }
    }
}

.boxes-list {

    * {
        color: @color1;
    }

    background-color: @backgroundColor2;
    border: 1px solid @color4;
    border-radius: 4px;
    box-shadow: 0px 0px 8px @color4;
    

    .box-row {
        
        &:not(:last-child) {
            border-bottom: 1px solid @color4;
        }

    }

    .box-color-circle {
        border: 1px solid @color4;
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }
}